PUBLIC_SUPABASE_URL=https://kwnhdnwqavslnjoadezn.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3bmhkbndxYXZzbG5qb2FkZXpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMTcyNDksImV4cCI6MjA5MDU5MzI0OX0.6jaCz0npbg5PgmCqyKA1h9sB16lmBprKeIguOYtUx68
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3bmhkbndxYXZzbG5qb2FkZXpuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTAxNzI0OSwiZXhwIjoyMDkwNTkzMjQ5fQ.Gnq_Op4cY4YEPsS4mQThwUL0sJWHwrfxUB7sK6Eij9I
PUBLIC_FORM_ENDPOINT=https://formspree.io/f/mzdkvwdn
