---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-5xl font-heading font-bold text-accent">Michel Encarnación</h1>
  </main>
</Layout>
